[package]
name = "telemetrylib"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Valkey GLIDE Maintainers"]

[dependencies]
lazy_static = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
