
[*]

# ReSharper properties
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_ifelse = not_required_for_both
resharper_braces_for_lock = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_builtin_type_apply_to_native_integer = true
resharper_csharp_align_multiline_calls_chain = false
resharper_csharp_allow_alias = false
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_max_line_length = 120
resharper_csharp_place_type_constraints_on_same_line = false
resharper_csharp_stick_comment = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = chop_if_long
resharper_indent_invocation_pars = inside
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_initializer_braces = next_line
resharper_int_align_assignments = true
resharper_int_align_switch_expressions = true
resharper_int_align_fields = true
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = base_class
resharper_force_attribute_style = separate
resharper_keep_existing_arrangement = false
resharper_local_function_body = expression_body
resharper_max_attribute_length_for_same_line = 120
resharper_max_enum_members_on_line = 1
resharper_max_initializer_elements_on_line = 10000
resharper_nested_ternary_style = expanded
resharper_object_creation_when_type_not_evident = explicitly_typed
resharper_outdent_statement_labels = true
resharper_parentheses_redundancy_style = remove_if_not_clarifies_precedence
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = true
resharper_place_constructor_initializer_on_same_line = false
resharper_place_expr_accessor_on_single_line = if_owner_is_single_line
resharper_place_expr_method_on_single_line = if_owner_is_single_line
resharper_place_expr_property_on_single_line = if_owner_is_single_line
resharper_place_field_attribute_on_same_line = false
resharper_place_linq_into_on_new_line = false
resharper_place_record_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_embedded_block_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = true
resharper_place_simple_switch_expression_on_single_line = true
resharper_place_type_attribute_on_same_line = false
resharper_space_between_attribute_sections = false
resharper_space_within_single_line_array_initializer_braces = true
resharper_trailing_comma_in_multiline_lists = true
resharper_trailing_comma_in_singleline_lists = false
resharper_wrap_after_property_in_chained_method_calls = true
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_extends_colon = true
resharper_wrap_before_first_method_call = false
resharper_wrap_before_linq_expression = true
resharper_wrap_before_primary_constructor_declaration_lpar = false
resharper_wrap_before_primary_constructor_declaration_rpar = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_chained_method_calls = chop_always
resharper_wrap_list_pattern = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_if_long
resharper_wrap_property_pattern = wrap_if_long
resharper_wrap_ternary_expr_style = chop_if_long
resharper_xmldoc_linebreaks_inside_tags_for_elements_longer_than = 120
resharper_wrap_multiple_type_parameter_constraints_style = chop_always
resharper_keep_existing_initializer_arrangement = true

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_preserve_single_line_blocks = true
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# ReSharper inspection severities
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = suggestion
resharper_suggest_discard_declaration_var_style_highlighting = suggestion