include README.md
# Ensure ffi, glide-core, glide-logger and glide-telemetry are included
recursive-include ffi *
recursive-include glide-core *
recursive-include glide-logger *
recursive-include glide-telemetry *
recursive-include glide_shared *
recursive-include glide-shared-rs *
prune **/target
prune **/tests
prune **/benches/
prune **/benchmarks/
prune **/docs/
prune **/glide-logs/
prune **/*-test/
prune **/*q_results/
