<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using Valkey.Glide.InterOp.Native;

namespace Valkey.Glide;

public interface IGlideClient
{
    Task<InterOp.Value> CommandAsync(ERequestType requestType, params string[] args);
}
