name: Install shared software dependencies

inputs:
    os:
        description: "The current operating system"
        required: true
        type: string
        options:
            - amazon-linux
            - macos
            - ubuntu
            - windows
    target:
        description: "Specified target for rust toolchain, ex. x86_64-apple-darwin"
        type: string
        required: false
        defalt: "x86_64-unknown-linux-gnu"
        options:
            - x86_64-unknown-linux-gnu
            - aarch64-unknown-linux-gnu
            - x86_64-apple-darwin
            - aarch64-apple-darwin
            - aarch64-unknown-linux-musl
            - x86_64-unknown-linux-musl
            - x86_64-pc-windows-msvc
    engine-version:
        description: "Engine version to install"
        required: false
        type: string
    language:
        description: "The language being built (optional, for language-specific setup)"
        required: false
        type: string
    github-token:
        description: "GITHUB_TOKEN, GitHub App installation access token"
        required: true
        type: string

runs:
    using: "composite"
    steps:
        - name: Install software dependencies for macOS
          shell: bash
          if: "${{ inputs.os == 'macos' }}"
          run: |
              brew update
              brew install openssl coreutils

        - name: Install software dependencies for Ubuntu GNU
          shell: bash
          if: "${{ inputs.os == 'ubuntu' && !contains(inputs.target, 'musl')}}"
          run: |
              sudo apt update -y
              sudo apt install -y git gcc pkg-config openssl libssl-dev

        - name: Install software dependencies for MUSL
          shell: bash
          if: "${{ contains(inputs.target, 'musl') }}"
          run: |
              apk update
              wget -O - https://sh.rustup.rs | sh -s -- -y
              source "$HOME/.cargo/env"
              apk add protobuf-dev musl-dev make gcc envsubst openssl libressl-dev py3-pip

        - name: Install software dependencies for Amazon-Linux
          shell: bash
          if: "${{ inputs.os == 'amazon-linux' }}"
          run: |
              yum install -y gcc pkgconfig openssl openssl-devel which curl gettext libasan tar --allowerasing

        - name: Setup WSL (Windows only)
          if: "${{ inputs.os == 'windows' && inputs.engine-version }}"
          uses: Vampire/setup-wsl@v6
          with:
              distribution: Ubuntu-22.04
              use-cache: true
              update: true
              additional-packages: python3 python3-pip build-essential git pkg-config libssl-dev

        - name: Setup Python for Windows
          if: "${{ inputs.os == 'windows' }}"
          uses: actions/setup-python@v5
          with:
              python-version: "3.x"

        - name: Install Rust toolchain and protoc
          if: "${{ !contains(inputs.target, 'musl') }}"
          uses: ./.github/workflows/install-rust-and-protoc
          with:
              target: ${{ inputs.target }}
              github-token: ${{ inputs.github-token }}

        - name: Install engine
          if: "${{ inputs.engine-version }}"
          uses: ./.github/workflows/install-engine
          with:
              engine-version: ${{ inputs.engine-version }}
              target: ${{ inputs.target }}

        - name: Install zig
          if: ${{ contains(inputs.target, 'linux-gnu') }}
          uses: ./.github/workflows/install-zig
          with:
              target: ${{ inputs.target }}
