name: Build Python wrapper

inputs:
    os:
        description: "The current operating system"
        required: true
        type: string
        options:
            - amazon-linux
            - macos-latest
            - ubuntu-latest
    target:
        description: "Specified target for rust toolchain, ex. x86_64-apple-darwin"
        type: string
        required: true
    publish:
        description: "Enable building the wrapper in release mode"
        required: false
        type: boolean
        default: "false"
    github-token:
        description: "GITHUB_TOKEN, GitHub App installation access token"
        required: true
        type: string
env:
    CARGO_TERM_COLOR: always

runs:
    using: "composite"
    steps:
        - name: Install shared software dependencies
          uses: ./.github/workflows/install-shared-dependencies
          with:
              os: ${{ inputs.os }}
              target: ${{ inputs.target }}
              github-token: ${{ inputs.github-token }}

        - name: Install Python software dependencies
          shell: bash
          run: |
              python3 -m ensurepip --upgrade || true
              python3 -m pip install --upgrade pip
              python3 -m pip install virtualenv mypy-protobuf

        - name: Generate protobuf files
          shell: bash
          working-directory: .
          run: |
              export PATH="$PATH:$HOME/.local/bin"
              MYPY_PROTOC_PATH=`which protoc-gen-mypy`
              protoc --plugin=protoc-gen-mypy=${MYPY_PROTOC_PATH} -Iprotobuf=./glide-core/src/protobuf/ --python_out=./python/python/glide --mypy_out=./python/python/glide ./glide-core/src/protobuf/*.proto

        - name: Build GLIDE
          shell: bash
          working-directory: ./python
          if: ${{ inputs.publish != 'true' }}
          run: |
              source "$HOME/.cargo/env"
              python3 -m venv .env
              source .env/bin/activate
              python3 -m pip install --upgrade pip
              python3 -m pip install --no-cache-dir -r requirements.txt
              maturin develop
