{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "An AWS-sponsored, open-source Redis client.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/aws/babushka.git"
  },
  "keywords": [
    "babushka,
    "git",
    "redis",
    "client",
    "redis-client",
    "AWS",
    "ElastiCache",
    "MemoryDB",
    "python",
    "node",
    "rust"
  ],
  "author": "Amazon Web Services",
  "license": "Apache-2.0",
  "bugs": {
    "url": "https://github.com/aws/babushka/issues"
  },
  "homepage": "https://github.com/aws/babushka#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
