name: Run the OSS review tool

inputs:
    folder_path:
        description: "The root folder to run the ORT tool from"
        required: true
        type: string

runs:
    using: "composite"
    steps:
        - name: Run ORT tools
          working-directory: ./ort/
          shell: bash
          env:
              FOLDER: ${{ inputs.folder_path }}
          run: |
              echo "Running ORT tools for $FOLDER"
              mkdir $FOLDER/ort_results
              # Analyzer (analyzer-result.json)
              ./gradlew cli:run --args="--info analyze -i $FOLDER -o $FOLDER/ort_results -f JSON"

              # NOTICE DEFAULT
              ./gradlew cli:run --args="--info report -i $FOLDER/ort_results/analyzer-result.json -o $FOLDER/ort_results/ -f PlainTextTemplate"

        - name: Upload ORT results
          if: always()
          continue-on-error: true
          uses: actions/upload-artifact@v4
          with:
              name: ort_results-${{ inputs.folder_path }}
              path: |
                  ${{ inputs.folder_path }}/ort_results/**
