name: Run the OSS review tool

inputs:
    folder_path:
        description: "The root folder to run the ORT tool from"
        required: true
        type: string

runs:
    using: "composite"
    steps:
        - name: Run ORT tools
          working-directory: ./ort/
          shell: bash
          run: |
              echo "Running ORT tools for ${{ inputs.folder_path }}"
              FOLDER=${{ inputs.folder_path }}
              mkdir $FOLDER/ort_results
              # Analyzer (analyzer-result.json)
              ./gradlew cli:run --args="analyze -i $FOLDER -o $FOLDER/ort_results -f JSON"

              # NOTICE DEFAULT
              ./gradlew cli:run --args="report -i $FOLDER/ort_results/analyzer-result.json -o $FOLDER/ort_results/ -f PlainTextTemplate"
