maturin==1.11.5
anyio[trio]>=4.9.0
uvloop
pytest
pytest-html
pytest-timeout
black >= 24.3.0
mypy == 1.19.1
mypy-protobuf == 3.6.0
flake8 == 7.3.0
isort == 6.0.1
types-protobuf ~= 6.30.2
packaging >= 22.0
sphinx >= 7.4.7
sphinx-rtd-theme
psutil
pytest_asyncio

# Sync Client
types-cffi
setuptools
wheel >= 0.45
build
