maturin==0.14.17 # higher version break the needs structure changes, the name of the project is not the same as the package name, and the naming both glide create a circular dependency - TODO: fix this 
anyio[trio]>=4.9.0
uvloop
pytest
pytest-html
black >= 24.3.0
flake8 == 5.0
isort == 5.10
mypy == 1.13.0
mypy-protobuf == 3.5
types-protobuf ~= 5.29.1
packaging >= 22.0
sphinx >= 7.4.7
sphinx-rtd-theme
