[build-system]
requires = ["maturin==0.14.17"]
build-backend = "maturin"

[project]
name = "valkey-glide"
requires-python = ">=3.9"
dependencies = [
    "async-timeout>=4.0.2; python_version < '3.11'",
    "typing-extensions>=4.8.0; python_version < '3.11'",
    "protobuf>=3.20",
]
classifiers = [
    "Topic :: Database",
    "Topic :: Utilities",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]

[tool.isort]
profile = "black"

[tool.flake8]
max-complexity = 12
max-line-length = 127
extend-ignore = ['E203']

[tool.black]
target-version = ['py39', 'py310', 'py311', 'py312', 'py313']

[tool.mypy]
exclude = ['submodules', 'utils/release-candidate-testing']
