[build-system]
requires = ["maturin>=0.13,<0.14"]
build-backend = "maturin"

[project]
name = "glide-for-redis"
requires-python = ">=3.8"
dependencies = [
    "async-timeout>=4.0.2",
    "typing-extensions>=4.8.0",
    "google-api-python-client==2.85.0"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Topic :: Database",
    "Topic :: Utilities",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]

[tool.isort]
profile = "black"

[tool.flake8]
max-complexity = 12
max-line-length = 127
extend-ignore = ['E203']

[tool.black]
target-version = ['py38', 'py39', 'py310', 'py311', 'py312']
