# Note: If you add a dependency here, make sure to also add it to pyproject.toml
# This is necessary until the issue https://github.com/aboutcode-org/python-inspector/issues/197 is resolved.
async-timeout>=4.0.2
typing-extensions>=4.8.0
protobuf>=3.20