name: C# tests

on:
    push:
        branches: ["main"]
        paths:
            - csharp/**
            - glide-core/**
            - submodules/**
            - .github/workflows/csharp.yml
    pull_request:
        paths:
            - csharp/**
            - glide-core/src/**
            - submodules/**
            - .github/workflows/csharp.yml

permissions:
    contents: read

jobs:
    run-tests:
        timeout-minutes: 15
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                redis:
                    - 6.2.14
                    - 7.2.3

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Install redis
              uses: ./.github/workflows/install-redis
              with:
                  redis-version: ${{ matrix.redis }}

            - name: Install protoc (protobuf)
              uses: arduino/setup-protoc@v2.1.0
              with:
                  version: "25.1"

            - name: Set up dotnet
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 6.0.x

            - name: Start redis server
              run: redis-server &

            - name: Format
              working-directory: ./csharp
              run: dotnet format --verify-no-changes --verbosity diagnostic

            - name: Test
              working-directory: ./csharp
              run: dotnet test --framework net6.0 /warnaserror

    lint-rust:
        timeout-minutes: 10
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - uses: ./.github/workflows/lint-rust
              with:
                  cargo-toml-folder: ./csharp/lib
