name: lint-yaml

permissions:
    contents: read

on:
    push:
        branches:
            - main
            - release-*
        paths:
            - ".github/**/*.yml"
            - ".github/**/*.yaml"
    pull_request:
        paths:
            - ".github/**/*.yml"
            - ".github/**/*.yaml"
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Prettier on YAML files
              run: |
                  npx prettier --check .github/
