name: Python tests

on:
    push:
        branches:
            - main
            - release-*
            - v*
        paths:
            - python/**
            - glide-core/src/**
            - glide-core/redis-rs/redis/src/**/**
            - utils/cluster_manager.py
            - .github/workflows/python.yml
            - .github/workflows/build-python-wrapper/action.yml
            - .github/workflows/install-shared-dependencies/action.yml
            - .github/workflows/test-benchmark/action.yml
            - .github/workflows/lint-rust/action.yml
            - .github/workflows/install-valkey/action.yml
            - .github/json_matrices/build-matrix.json
            - .github/json_matrices/engine-matrix.json
            - .github/workflows/start-self-hosted-runner/action.yml

    pull_request:
        paths:
            - python/**
            - glide-core/src/**
            - glide-core/redis-rs/redis/src/**
            - utils/cluster_manager.py
            - .github/workflows/python.yml
            - .github/workflows/build-python-wrapper/action.yml
            - .github/workflows/install-shared-dependencies/action.yml
            - .github/workflows/test-benchmark/action.yml
            - .github/workflows/lint-rust/action.yml
            - .github/workflows/install-valkey/action.yml
            - .github/json_matrices/build-matrix.json
            - .github/json_matrices/engine-matrix.json
            - .github/workflows/start-self-hosted-runner/action.yml
    workflow_dispatch:
        inputs:
            full-matrix:
                description: "Run the full matrix"
                required: false
                default: "false"

    schedule:
        - cron: "0 2 * * *"

concurrency:
    group: python-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
    get-matrices:
        runs-on: ubuntu-latest
        # Avoid running on schedule for forks
        if: (github.repository_owner == 'valkey-io' || github.event_name != 'schedule')
        outputs:
            engine-matrix-output: ${{ steps.get-matrices.outputs.engine-matrix-output }}
            host-matrix-output: ${{ steps.get-matrices.outputs.host-matrix-output }}
            version-matrix-output: ${{ steps.get-matrices.outputs.version-matrix-output}}
        steps:
            - uses: actions/checkout@v4
            - id: get-matrices
              uses: ./.github/workflows/create-test-matrices
              with:
                  language-name: python
                  dispatch-run-full-matrix: ${{ github.event.inputs.full-matrix || 'false' }}

    test-python:
        runs-on: ${{ matrix.host.RUNNER }}
        needs: get-matrices
        timeout-minutes: 35
        strategy:
            fail-fast: false
            matrix:
                engine: ${{ fromJson(needs.get-matrices.outputs.engine-matrix-output) }}
                python: ${{ fromJson(needs.get-matrices.outputs.version-matrix-output) }}
                host: ${{ fromJson(needs.get-matrices.outputs.host-matrix-output).include }}
        steps:
            - uses: actions/checkout@v4
              

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}

            - name: Install dependencies
              working-directory: ./python
              run: |
                  python -m pip install --upgrade pip
                  pip install mypy-protobuf

            - name: Build Python wrapper
              uses: ./.github/workflows/build-python-wrapper
              with:
                  os: ${{ matrix.host.OS }}
                  target: ${{ matrix.host.TARGET }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  engine-version: ${{ matrix.engine.version }}

            - name: Type check with mypy
              working-directory: ./python
              run: |
                  # The type check should run inside the virtual env to get
                  # all installed dependencies and build files
                  source .env/bin/activate
                  pip install mypy types-protobuf
                  # Install the benchmark requirements
                  pip install -r ../benchmarks/python/requirements.txt
                  python -m mypy ..

            - name: Test with pytest
              working-directory: ./python
              run: |
                  source .env/bin/activate
                  cd python/tests/
                  pytest --asyncio-mode=auto --html=pytest_report.html --self-contained-html

            - uses: ./.github/workflows/test-benchmark
              with:
                  language-flag: -python

            - name: Upload test reports
              if: always()
              continue-on-error: true
              uses: actions/upload-artifact@v4
              with:
                  name: test-report-python-${{ matrix.python }}-${{ matrix.engine.type }}-${{ matrix.engine.version }}-${{ matrix.host.RUNNER }}
                  path: |
                      python/python/tests/pytest_report.html
                      utils/clusters/**
                      benchmarks/results/**
    test-pubsub-python:
        runs-on: ${{ matrix.host.RUNNER }}
        needs: get-matrices
        timeout-minutes: 35
        strategy:
            fail-fast: false
            matrix:
                engine: ${{ fromJson(needs.get-matrices.outputs.engine-matrix-output) }}
                python: ${{ fromJson(needs.get-matrices.outputs.version-matrix-output) }}
                host: ${{ fromJson(needs.get-matrices.outputs.host-matrix-output).include }}
        steps:
            - uses: actions/checkout@v4
<<<<<<< HEAD
              
        
=======
              with:
                  submodules: recursive

>>>>>>> bcc6b00b (CI - Minimal and full CI matrix impl (#2051))
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}

            - name: Build Python wrapper
              uses: ./.github/workflows/build-python-wrapper
              with:
                  os: ${{ matrix.host.OS }}
                  target: ${{ matrix.host.TARGET }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  engine-version: ${{ matrix.engine.version }}

            - name: Test pubsub with pytest
              working-directory: ./python
              run: |
                  source .env/bin/activate
                  cd python/tests/
                  pytest --asyncio-mode=auto -k test_pubsub --html=pytest_report.html --self-contained-html

            - name: Upload test reports
              if: always()
              continue-on-error: true
              uses: actions/upload-artifact@v4
              with:
                  name: pubsub-test-report-python-${{ matrix.python }}-${{ matrix.engine.type }}-${{ matrix.engine.version }}-${{ matrix.host.RUNNER }}
                  path: |
                      python/python/tests/pytest_report.html

    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        steps:
            - uses: actions/checkout@v4
              

            - name: lint rust
              uses: ./.github/workflows/lint-rust
              with:
                  cargo-toml-folder: ./python

            - name: Install dependencies
              if: always()
              uses: threeal/pipx-install-action@latest
              with:
                  packages: flake8 isort black

            - name: Lint python with isort
              if: always()
              working-directory: ./python
              run: |
                  isort . --profile black --check --diff

            - name: Lint python with flake8
              if: always()
              working-directory: ./python
              run: |
                  # stop the build if there are Python syntax errors or undefined names
                  flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --extend-ignore=E230 --exclude=python/glide/protobuf,.env/*
                  # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
                  flake8 . --count --exit-zero --max-complexity=12 --max-line-length=127 --statistics --extend-ignore=E230 --exclude=python/glide/protobuf,.env/*

            - name: Lint python with black
              if: always()
              working-directory: ./python
              run: |
                  black --check --diff .
    build-amazonlinux-latest:
        if: (github.repository_owner == 'valkey-io' && github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' && github.event.inputs.full-matrix == 'true')
        runs-on: ubuntu-latest
        container: amazonlinux:latest
        timeout-minutes: 15
        steps:
            - name: Install git
              run: |
                  yum -y remove git
                  yum -y remove git-*
                  yum -y install https://packages.endpointdev.com/rhel/7/os/x86_64/endpoint-repo.x86_64.rpm
                  yum install -y git
                  git --version

            - uses: actions/checkout@v4

            - name: Checkout submodules
              run: |
                  git config --global --add safe.directory "$GITHUB_WORKSPACE"
                  git submodule update --init --recursive

            - name: Install python
              run: |
                  yum install -y python3

            - name: Build Python wrapper
              uses: ./.github/workflows/build-python-wrapper
              with:
                  os: "amazon-linux"
                  target: "x86_64-unknown-linux-gnu"
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  engine-version: "7.2.5"

            - name: Test compatibility with pytest
              working-directory: ./python
              run: |
                  source .env/bin/activate
                  pytest --asyncio-mode=auto -m smoke_test --html=pytest_report.html --self-contained-html

            - name: Upload test reports
              if: always()
              continue-on-error: true
              uses: actions/upload-artifact@v4
              with:
                  name: smoke-test-report-amazon-linux
                  path: |
                      python/python/tests/pytest_report.html
<<<<<<< HEAD
    
    test-modules:
        if: (github.repository_owner == 'valkey-io' && github.event_name == 'workflow_dispatch') || github.event.pull_request.head.repo.owner.login == 'valkey-io'
        environment: AWS_ACTIONS
        name: Running Module Tests
        runs-on: [self-hosted, linux, ARM64]
        timeout-minutes: 15
        
=======

    start-self-hosted-runner:
        if: github.event.pull_request.head.repo.owner.login == 'valkey-io'
        runs-on: ubuntu-latest
        environment: AWS_ACTIONS
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Start self hosted EC2 runner
              uses: ./.github/workflows/start-self-hosted-runner
              with:
                  role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
                  aws-region: ${{ secrets.AWS_REGION }}
                  ec2-instance-id: ${{ secrets.AWS_EC2_INSTANCE_ID }}

    test-modules:
        needs: [start-self-hosted-runner, get-matrices]
        name: Running Module Tests
        runs-on: ${{ matrix.host.RUNNER }}
        timeout-minutes: 35
        strategy:
            fail-fast: false
            matrix:
                engine: ${{ fromJson(needs.get-matrices.outputs.engine-matrix-output) }}
                python: ${{ fromJson(needs.get-matrices.outputs.version-matrix-output) }}
                host: ${{ fromJson(needs.get-matrices.outputs.host-matrix-output).include }}

>>>>>>> bcc6b00b (CI - Minimal and full CI matrix impl (#2051))
        steps:
            - name: Setup self-hosted runner access
              if: ${{ contains(matrix.host.RUNNER, 'self-hosted') }}
              run: sudo chown -R $USER:$USER /home/ubuntu/actions-runner/_work/valkey-glide
<<<<<<< HEAD

            - uses: actions/checkout@v4

            - name: Build Python wrapper
              uses: ./.github/workflows/build-python-wrapper
              with:
                  os: ubuntu
                  target: aarch64-unknown-linux-gnu
                  github-token: ${{ secrets.GITHUB_TOKEN }}

=======

            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup Python for self-hosted Ubuntu runners
              run: |
                  sudo apt update -y
                  sudo apt upgrade -y
                  sudo apt install python3 python3-venv python3-pip -y

            - name: Build Python wrapper
              uses: ./.github/workflows/build-python-wrapper
              with:
                  os: ${{ matrix.host.OS }}
                  target: ${{ matrix.host.TARGET }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  engine-version: ${{ matrix.engine.version }}

>>>>>>> bcc6b00b (CI - Minimal and full CI matrix impl (#2051))
            - name: Test with pytest
              working-directory: ./python
              run: |
                  source .env/bin/activate
                  cd python/tests/
                  pytest --asyncio-mode=auto --tls --cluster-endpoints=${{ secrets.MEMDB_MODULES_ENDPOINT }} -k server_modules --html=pytest_report.html --self-contained-html

            - name: Upload test reports
              if: always()
              continue-on-error: true
              uses: actions/upload-artifact@v4
              with:
<<<<<<< HEAD
                  name: modules-test-report
=======
                  name: modules-test-report-${{ matrix.host.TARGET }}-python-${{ matrix.python }}-server-${{ matrix.engine.version }}
>>>>>>> bcc6b00b (CI - Minimal and full CI matrix impl (#2051))
                  path: |
                      python/python/tests/pytest_report.html
